.logoimg{
	width: 80px;
}

.text123{
	color:white;
}
.img-responsive{
	width:100%;
}
#but1{
	margin: 30px 10px;padding: 10px;border-radius: 20px;width:150px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80%;
  text-align: center;
  font-size: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardbox {
  padding: 2px 16px;
}


footer{
 background-color:#343a40;
  width: 100%;
}

.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index:10;
}

.footlogo{
  margin-top: 25px;
  margin-right:10px;
  margin-bottom: 20px;
}

.bg-dark{
  background-color: rgba(52,58,64,1);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(52,58,64,1);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown:hover .dropdown-content {
  display: block;}

h1{
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

.header-logo-image{
  height: 30vh;
  margin: auto;
  display: block;
}

.read-all{
	display: block;
	margin: auto;
	margin-top: 25px;
	width: 200px;
	border-radius: 4vw;
	padding: 1%;
	background: linear-gradient(95.33deg,#3fc6d0,#71e981);
	font-size: medium;
	color: white;

}
a,a:hover{
	text-decoration: none;
}

.blog-post{
	border-radius: 16px;
	box-shadow: 0 0 6px grey;
	height: 300px;
   box-sizing: border-box;
   font-size: 1.3vw;
  overflow: hidden


}

.blog-post p{
	margin-left: 10px;
}

.blog-post p:first-child{
	margin-top: 10px;
}

.read-more{
	float: right;
	margin-right: 10px;
	border-radius: 4vw;
		background: linear-gradient(95.33deg,#3fc6d0,#71e981);
		color: white;
}
.flex-disp{
	display: flex;
}

.img-rep{
	max-width: 50%;
  height: inherit;
	border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

#blogcon{
  overflow: hidden
}