.logoimg{
	width: 80px;
}

.text123{
	color:white;
}
.img-responsive{
	width:100%;
}
#but1{
	margin: 30px 10px;padding: 10px;border-radius: 20px;width:150px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80%;
  text-align: center;
  font-size: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardbox {
  padding: 2px 16px;
}


footer{
 background-color:#343a40;
  width: 100%;
}

.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index:10;
}

.footlogo{
  margin-top: 25px;
  margin-right:10px;
  margin-bottom: 20px;
}

.bg-dark{
  background-color: rgba(52,58,64,1);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(52,58,64,1);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

section {
    min-height: 100vh; 
}
.dropdown:hover .dropdown-content {
  display: block;}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #60f7f0;
  text-shadow: 1px 1px 2px black;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
}
h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

.descrip{
  text-align: center;
  font-size: 35px;
}
.responsiveCal {
 
position: relative; padding-bottom: 75%; height: 0; overflow: hidden;
 
}
 
.responsiveCal iframe {
 
position: absolute; top:0; left: 0; width: 100%; height: 100%;
 
}
html, body {
  height: 100%;
  margin: 0;
}

.footer,
.push {
  height: 50px;
}
