/*
                       .___                       .___            .__       ___.    
                       ______ ________  ____| _/_ __    ____  ____   __| _/____   ____ |  |  __ _\_ |__  
                      /  ___//     \  \/ / __ |  |  \ _/ ___\/  _ \ / __ |/ __ \_/ ___\|  | |  |  \ __ \ 
                      \___ \|  Y Y  \   / /_/ |  |  / \  \__(  <_> ) /_/ \  ___/\  \___|  |_|  |  / \_\ \
                     /____  >__|_|  /\_/\____ |____/   \___  >____/\____ |\___  >\___  >____/____/|___  /
                          \/      \/         \/            \/           \/    \/     \/               \/ 
*/

html {
  scroll-behavior: smooth;
    /* min-height: 100%; */
    position: relative;
    overflow-x: hidden;
}

/* header */


.navbar{
  height: auto;
  position: fixed;
  width: 100%;
  color: white ;
  transition:  2s ease-in-out;
}

.nav-link{
  color:white;
}

.navlinknew{
color: black !important;
}

.feature{
height: 100px !important;
width: 100%;
background-color: white !important;
color: black !important;
}


.logoimg{
	width: 80px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(52,58,64,1);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;}


.sticky{
  position: -webkit-sticky;
    position: fixed;
    top: 0;
    z-index:10;
}

.navbar-toggler-icon{
  color: white;
  background-color: white;
}


/* parallax */

.parallax{
  background-image: url("../Assets/back.png");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.parallax-inner{
  width: 20%;
  height: 200px;
  margin-top: 100px;
  background: rgba(255,255,255,0.3);
  position: absolute;
  margin-left: 40%;
  text-align: center;
  color: white;
}

/* content */


/* footer */

footer{
 background-color:#343a40;
  width: 100%;
  position: absolute;
  max-height: 100%;
}


.footlogo{
  margin-top: 25px;
  margin-right:10px;
  margin-bottom: 20px;
}













