html {
  scroll-behavior: smooth;
  /* min-height: 100%; */
  min-width: 100%;
  position: relative;
}



.logoimg{
	width: 80px;
}

.text123{
	color:white;
}
.img-responsive{
	width:100%;
}
#but1{
	margin: 30px 10px;padding: 10px;border-radius: 20px;width:150px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80%;
  text-align: center;
  font-size: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardbox {
  padding: 2px 16px;
}


footer{
 background-color:#343a40;
  width: 100%;
  position: absolute;
}

.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index:10;
}

.footlogo{
  margin-top: 25px;
  margin-right:10px;
  margin-bottom: 20px;
}

.bg-dark{
  background-color: rgba(52,58,64,1);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(52,58,64,1);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


section {
    min-height: 100vh; 
}
.dropdown:hover .dropdown-content {
  display: block;}

@mixin center(){
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
    left:50%;
    top:50%;
}


@import url(https://fonts.googleapis.com/css?family=Raleway:400,,800,900);
html{
  width:100%;
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
}
body{
  background: -webkit-linear-gradient(rgb(235, 236, 231), rgb(255, 255, 255));
  background: linear-gradient(rgb(235, 236, 231), rgb(255, 255, 255));
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
}
.box{
  margin-top: 100px;
  position:absolute;
  @include center();
}
.title{
  font-weight: 700;
  color: transparent;
  font-size:110px;
  background: url("https://phandroid.s3.amazonaws.com/wp-content/uploads/2014/05/rainbow-nebula.jpg") repeat;
  background-position: 40% 50%;
  -webkit-background-clip: text;
  position:relative;
  text-align:center;
  line-height:90px;
  letter-spacing: -8px;
}
.subtitle{
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding-top:10px;
}
