/* body,html */

html {
    scroll-behavior: smooth;
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
  }
  
/* header */
.navbar{
    background: transparent;
    position: absolute;
    width: 100%;
    color: blue;
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index:10;
  }
  

  .logoimg{
      width: 10%;
      height: 10%;
  }
  

/* parallax */

  .parallax{
  background-image: url("../Assets/back.png");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }

  .parallax-inner{
      width: 20%;
      height: 200px;
      margin-top: 100px;
      background: rgba(255,255,255,0.3);
      position: absolute;
      margin-left: 40%;
      text-align: center;
      color: white;
  }

  /* content */
  
  

  /* footer */


  
  footer {
    background-color: #E8EEF4;
    color: #f5f5f5;
    top: 0;
    font-size: 1rem;
    position: absolute;
    height: auto;
    width: 100%;
    margin-top: 100%;
    text-align: center;
  } 
   
   
   
   /* positioning the list  */
   .foot-icons{
     padding-top:4%;
     padding-bottom:2%;
     width:100%;
     height: auto;
     margin:auto;
     
    }
    
    .foot-icons ul{
     margin:0px;
     padding: 0px; 
    
    }
    
    /* style the list items like border, background, position etc */
    .foot-icons ul li{
      display: inline-block;
      width: 50px;
      height:50px;
      margin: 0px 10px;
      border-radius: 100%;
      border: 5px solid #2d95c8;
      background-color: #2d95c8; 
      

    }
    /* style the icons */
    .foot-icons ul li a i {
      line-height: 43px;
      color:#ffffff;
      
    }
    
    

    
      
  