.logoimg {
  width: 80px;
}

.text123 {
  color: white;
}
.img-responsive {
  width: 100%;
}
#but1 {
  margin: 30px 10px;
  padding: 10px;
  border-radius: 20px;
  width: 150px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 80%;
  text-align: center;
  font-size: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardbox {
  padding: 2px 16px;
}

footer {
  background-color: #343a40;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #60f7f0;
  text-shadow: 1px 1px 2px black;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
}
body,
html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4,
.bgimg-5,
.bgimg-6,
.bgimg-7 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("../Assets/bg1.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../Assets/bg2.png");
  min-height: 500px;
}

.bgimg-3 {
  background-image: url("../Assets/bg3.jpg");
  min-height: 500px;
}

.bgimg-4 {
  background-image: url("../Assets/bg4.jpg");
  min-height: 500px;
}
.bgimg-5 {
  background-image: url("../Assets/bg5.png");
  min-height: 500px;
}
.bgimg-6 {
  background-image: url("../Assets/bg6.png");
  min-height: 500px;
}
.bgimg-7 {
  background-image: url("../Assets/bg7.jpg");
  min-height: 500px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

.descrip {
  text-align: center;
  font-size: 20px;
}

.footlogo {
  margin-top: 25px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
#but1 {
  margin: 30px 10px;
  padding: 10px;
  border-radius: 20px;
  width: 100%;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(52, 58, 64, 1);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}
